.infobar {
	height: 4px;
	border-radius: 4px
}

.hidden {
	display: none;
}

.bigLabel {
	font-size: 24px;
	text-align: center;
}

.timer {
	/*margin: 4px;*/
	padding: 4px 4px 4px 4px;
	border-radius: 4px;
	background-color: #b0b0d0;
}

.timer-inner {

}

#dataRow {
	/*position: fixed;*/
	width: 100%;
	left: 0;
	bottom: 0;
}

.ac-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #333;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

